body{
    margin: 1em;
    background: #000;
}

h1, header{
    display: block;
    padding: 20px 30px; 
    color: #fff;
    font-weight: 700;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    background-color: #000000;
    
}

.foto img{
    max-width: 100%;
    margin-bottom: 0em;
    outline: 2px solid #ececec;
    outline-offset: -5px;
    border-radius: 10px;
}

.gallery{
    margin-top:100px;
    columns: 5 130px;
    column-gap: 0.5em;
    z-index: 1;
}

header a {
    color: #fff; 
    text-decoration: none; 
    font-weight: bold; 
    padding: 10px 20px; 
    border: 2px solid #fff; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; 
}

header a:hover {
    background-color: #fff; 
    color: #333;
}

.foto{
    position: relative;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, #00000096 100%, #0000000a 0%);
    width: 100%;
    height: 0;
    transition: 0.55s ease;
    overflow: hidden;
}

footer {
    background: black;
    text-align: right;
    padding: 20px 0;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 30px;
    color: white;
    letter-spacing: 2px;
}
